.featured {
  &__products {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--single {
      min-height: 250px;
      margin: 1rem;
      border: 2px solid $color-black;
      border-radius: $borderRadious;
      display: grid;
      grid-template-rows: 1fr auto;
      align-items: center;
      & img {
        height: 100%;
      }
      & .product-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem;
      }
    }
  }
}
