$color-grey: #eff1ed;
$color-grey-2: #5a5a5a;
$color-white: #fff;
$color-black: #292929;
$primaryBlue: #1d212b;
$primaryGreen: #ccd7c5;
$SecundaryGreen: #5c6f68;
$primaryBrown: #ae9364;

$borderRadious: 5px;

$font-1: 'Domine', serif;
$font-2: 'Rancho', cursive;
$font-3: 'Rye', cursive;
